/*
    Framework and container configuration
*/

.div-wrap {
    .clearfix();
    display: block;

    &.wrapped {
        flex-wrap: wrap;
    }

    &.double {
        .content-block {
            display: block;
            width: 48%;

            &:only-child {
                float: unset !important;
                margin: auto;
            }

            &:nth-of-type(2n+1) {
                float: left;
            }

            &:nth-of-type(2n+2) {
                float: right;
            }
        }
    }

    &.tripple {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .content-block {
            display: inline-block;
            width: 32%;
            margin: 0 1%;

            &:only-child {
                margin: 0;
            }

            &:nth-of-type(3n+1) {
                margin-left: 0;
            }

            &:nth-of-type(3n+3) {
                margin-right: 0;
            }
        }
    }

    &.quad {
        display: flex;
        flex-wrap: nowrap;

        .content-block {
            display: block;
            width: (100% / 4);
            flex-basis: (100% / 4);
            //padding: 0 10px;

            &:nth-of-type(4n+1) {
                padding-left: 0;
            }

            &:nth-of-type(4n+4) {
                padding-right: 0;
            }
        }
    }
}

.btns-wrap {
    .clearfix();
    display: block;

    &.left {
        text-align: left;

        .btn {
            margin-right: 20px;
        }
    }

    &.right {
        text-align: right;

        .btn {
            margin-right: 0;
            margin-left: 20px;
        }
    }

    &.center {
        text-align: center;

        .btn {
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .btn {
        margin-bottom: 10px;

        &:only-child {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.container {
    .clearfix();
    .border-box();
    margin-left: auto;
    margin-right: auto;
    width: @container;
    padding-left: 10px;
    padding-right: 10px;

    &.container-post {
        width: @container-post;
    }

    &.container-small {
        width: @container-small;
    }
}
