/*
    Main styles
*/
body {
    background-color: @c5;
    position: relative;
}

.canvas-wrapper {
    .round(16px);
    display: block;
    position: absolute;
    left: calc(50% - 480px);
    top: 200px;
    margin: auto;
    width: 960px;
    height: 640px;
    overflow: hidden;

    canvas {
        background-color: @white;
        box-shadow: 0 16px 32px @c5;
    }
}

.tools {
    .round(4px);
    overflow: hidden;
    display: flex;
    position: absolute;
    list-style: none;
    top: 125px;
    left: calc(50% - 480px);

    &.right {
        left: unset;
        right: calc(50% - 480px);
    }

    li {
        display: flex;
        background-color: @c1;
        height: 48px;
        line-height: 48px;

        a,
        button {
            .tc(.3s);
            height: 32px;
            background-color: @c1;

            &.active {
                background-color: @white;
                color: @c1;
            }

            &:hover {
                background-color: darken(@c1, 5%);
            }
        }

        #color_display {
            width: 48px;
            background-color: @black;
        }

        label {
            font-size: 1.2rem;
            background-color: @c1;
            color: rgba(22,22,22,.7);
        }

        a,
        button,
        input[type=text],
        label {
            display: block;
            height: 48px;
            line-height: 48px;
            padding: 0 12px;
            color: @c5;
        }
    }
}

label {
    border-left: 1px solid @c4;
}

input {
    color: @c5;
    border: none;
    width: 60px;
    background-color: @c1;
    border-right: 1px solid @c4;
}

input[type=range] {
    .round(2px);
    width: 150px;
    height: 6px;
    margin: 19px 8px;
    vertical-align: middle;
    background-color: @c5;
    -webkit-appearance: none;
    appearance: none;

    ::-webkit-slider-thumb {
        .round(50%);
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background-color: @c2;
        cursor: pointer;
        border-color: @c2;
    }
}

button {
    border: none;
    cursor: pointer;
}

#bsi {
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid rgb(255,255,255);
    mix-blend-mode: difference;
}
